/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}

/* ********************************** */
/*              FILTROS               */
/* ********************************** */

/* BOTON FILTROS */

.Filter {
	position: absolute;
	display: flex;
	
}

.button-filter{
	position: relative;
	color: #000;
	background-color: #fff;
	padding: 0.7rem 3rem;
	text-transform: capitalize;
	border: 1px solid #000;
	border-radius: #000;
	margin-top: 9.9em;
	cursor: pointer;
}

.button-filter:hover{
	background-color: #000;
	color: #fff;
}

.text-filter{
	font-size: 1.5rem;
	
}

.icon-text-filter{
	font-size: 1.5rem;
	
}
@-moz-document url-prefix(){
	.button-filter{
		border: 1px solid #000;
	}
}

/* MENU DESPLEGABLE / FILTROS */

body {
	position: relative;
  }
  
.dropdown-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%; 
    height: 100vh; 
    background-color: rgba(255, 255, 255, 1); 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999; 
    overflow-y: hidden;
    animation: slideDown 0.5s ease; 
}

@keyframes slideDown {
    from {
        transform: translateY(-10px); 
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.dropdown-content.show {
    display: block;
	opacity: 1;
    transform: translateY(0);
}

.overlay {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-color: rgba(184, 184, 184, 0.436); 
    z-index: 998;
	transition: opacity 0.5s ease;
}

.menu-open .overlay {
    display: block;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 1.3rem;
	display: block;
}
  
.show {
	display: block;
	opacity: 1;
}

.title {
	display: block;
    position: sticky;
	font-family: 'Ubuntu';
	font-size: 1.7rem;
	font-weight: bold;
	top: 0;
	color: #FFFFFF;
	background-color: #353432; 
    padding: 20px; 
	z-index: 1;
}

  .rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease; /* Transición suave */
}

.dropdown-item  {
	border-top: 0.1px solid var(--dark-color);
}
  

.dropdown-item i {
	position: absolute;
	right: 15px;
	align-items: center;
}

.title-bold {
	font-family: 'Ubuntu';
	font-weight: bold;
}

.sub-menu {
	font-family: 'Ubuntu';
}

.size-options {
    display: flex;
	color: var(--primary-color);
	justify-content: center; 
    margin: 20px;
}

.size-button {
    flex: 1;
    text-align: center;
    padding: 1px;
    border: 0.1px solid var(--dark-color);
    border-right: none; 
}

.size-button:last-child {
    border-right: 1px solid #000; 
}

.size-button:hover {
	background-color: #ddd;
}


.color-menu {
    text-align: center;
}

.color-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
}

.color-option {
	display: inline-block;
	margin-right: 10px;
	
}

.color-circle {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	border: 1px solid var(--dark-color);
}

.black {
	background-color: #333333;
}

.white {
	background-color: #FFFFFF;
}
  
.blue {
	background-color: #1E90FF;
}
  
.red {
	background-color: #FF0000;
}
  
.green {
	background-color: #008000;
}
  
.yellow {
	background-color: #FFFF00;
}

.grey {
	background-color: #999999;
}

.purple {
	background-color: #800080;
}

.orange {
	background-color: #FFA500;
}

.pink {
	background-color: #FFC0CB;
}
  

.price-label {
    font-weight: normal;
    font-size: 16px;
}

.price-slider-container {
    width: 200px;
    margin: 10px auto; 
}

.price-slider {
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
	appearance: none;
    background: #f0f0f0;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

/* Estilos para Chrome, Safari, Edge, y otros navegadores WebKit/Blink */
.price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #E8BC0E;
    border-radius: 50%;
}

/* Estilos para Firefox */
.price-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #E8BC0E;
    border-radius: 50%;
	image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.price-values span {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: var(--primary-color);
}

.sub-menu .brand {
    font-family: 'Roboto'; 
	color: #7e7d7d;
    font-weight: bold; 
	font-size: 1.4rem;
}

.brand:hover {
    background-color: #333333; 
	color: #FFFFFF;
}
  
/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products .heading-1 {
	font-family: 'Ubuntu';
	font-size: 2.5rem;
	margin-top: 5%;
    margin-bottom: 2%;
}

.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.2rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}

/* ********************************** */
/*             PRODUCTS               */
/* ********************************** */

.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 1rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.container-img img {
	filter: drop-shadow(
		0 0 10px rgba18(0, 0, 0, .8)
	);
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 3px 1.5rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.content-card-product h3 {
	grid-row: 1/2;
	grid-column: 1/-1;
	font-weight: 400;
	font-size: 1.3rem;
	margin-bottom: 2rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	display: flex;
	align-items: center;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;	
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #fff;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;
	font-size: 1.4rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.2rem;
	font-weight: 300;
	text-decoration: line-through;
	color: #777;
}


/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin-bottom: 3%;
  }
  
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
.featureIcon {
    width: 50px;
    height: 50px;
  }
  
.featureTitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 20px;
  }
  
.featureDesc {
    color: gray;
    width: 50%;
    font-size: 1.2rem;
  }

/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
.specials {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

/* ********************************** */
/*               GALLERY              */
/* ********************************** */

.gallery {
    padding: 50px;
    display: flex;
    background-color: #282828;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .galleryItem {
    flex: 1;
    padding: 50px;
  }
  
  .galleryImg {
    width: 100%;
  }

  .galleryTitle {
    font-family: 'Roboto';
    color: var(--background-color);
  }

  /* GALLERY 2 */

  .newSeason {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nsImg {
    width: 100%;
    height: 700px;
  }
  
  .nsTitle {
    font-size: 40px;
  }
  
  .nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
  }


/* ********************************** */
/*                Reseñas             */
/* ********************************** */
.blogs {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto';
	font-size: 2.5rem;
	margin-top: 7%;
	gap: 2rem;
}

.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card-blog .container-img {
	border-radius: 2rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-group-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;

	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-group-blog span {
	background-color: #fff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 1.3rem;
}

.button-group-blog span:hover {
	background-color: var(--primary-color);
}

.button-group-blog span:hover i {
	color: #fff;
}

.content-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
}

.content-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.content-blog p {
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #777;
}

.content-blog span {
	color: var(--primary-color);
	font-size: 1.3rem;
}

.btn-read-more {
	padding: 1rem 3rem;
	background-color: var(--primary-color);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	border-radius: 2rem;
	margin: 3rem 0 5rem;
	display: inline-block;
	cursor: pointer;
}

.btn-read-more:hover {
	background-color: var(--dark-color);
}