@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--primary-color: #282828;
	--background-color: #f5f5f5;
	--dark-color: #949494;
}

html {
	font-family: 'Ubuntu', sans-serif;
    font-family: "Roboto", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
     height: 100vh;
     display:grid;
     place-items: center;
     /* background-image: url(imagenes.JPG/Imagen1.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover; */
     background-color: var(--background-color);
     padding: 15px 20px;
}

.container-logo {
	font-family: 'Roboto';
	display: flex;
	align-items: center;
	gap: 0.5rem;
    margin-top: .3%;
    margin-bottom: 2%;
}

.container-logo i {
	font-size: 2rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

h2 {
    font-family: 'Roboto';
	text-decoration: none;
	color: #000;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.error {
    max-width: 600px; 
    background-color: #FFA500;
    color: var(--primary-color);
    padding: 25px; 
    border-radius: 5px;
    margin: 20px auto;
    font-weight: bold;
    text-align: center; 
    box-sizing: border-box; 
}

/* WRAPPER DEL CONTENIDO */

.wrapper {
    background: #3AB795;
    padding: 30px 114px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background:#fff;
}
.wrapper .title {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    font-weight: bold;
    margin: 0 0 40px 0;
    text-align: center;
}

/* BUTTON GOOGLE */

form .option {
    text-align: center;
    margin: 30px 0 15px 0;
    font-size: 16px;
    font-weight: 400;
}

form .option .Google {
    margin: 20px 0;
    padding: 10px 15px;
    background: #3b9888;
    border-radius: 5px;
    width: 145%;
    height: 55px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

form .option .Google a {
    text-decoration: none;
    color: #6f6b6b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 30px;
    margin: 0% auto;
}

form .option .Google {
    background: white;
    border: 2px solid #ccc;
    background-image: url("../IMG/iconos/Google.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 30px center;
    box-shadow: rgba(128, 128, 128, 0.2);
    font-weight: bold;
    text-align: center;
    margin-left: -51px;
}

.input-box.button .Google:hover {
    transform: scale(1.02);
    transition: all 0.2s ease;
    cursor: pointer;
}

/* BUTTON / CORREO Y CONTRASEÑA */

.wrapper form .input-box {
    width: 130%;
    height: 55px;
    margin-bottom: 30px;
    right: 20%;
}

.email {
    background-image: url("../IMG/iconos/gmail.png");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position:  325px  center;
}

#toggle-password-btn {
    position: relative;
    transform: translate(-1%);
    border: none;
    left: 108%;
    background-color: white;
}

.visible + input[type="password"] {
    -webkit-text-security: none;
}

.ojo-img {
    position: absolute;
    width: 23px;
    top: -53px;
    align-items: center;
    background-position: center;
}

/* RECORDARME / OLVIDASTE LA CONTRASEÑA */

.wrapper form .remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -8px 0 15px 0;
}

.wrapper form .remember {
    display:flex;
    font-size: 13px;
    font-weight: 500;
    color:#009579;
}

.wrapper form .remember input {
    margin-right: 5px;
    margin-left: -80px;
}

.wrapper form .forgot {
    font-size: 13px;
    font-weight: 500;
    margin-right: -85px;
}

.wrapper form .input-box {
    position: relative;
}

.wrapper form .input-box input {
    width: 145%;
    height: 100%;
    margin-left: -50px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #ccc;
    padding: 20px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.wrapper form .forgot a{
    text-decoration:none;
    color: #009579;
}

.wrapper form .forgot a:hover{
    text-decoration: underline;
}

.wrapper form .button input [type="submit"]{
    padding:0;
    font-size: 18px;
    font-weight: 500;
    background: #009579;
    color: var(--background-color);
    border: none;
    transform: none;
}

.wrapper form .signup-link {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

/* BUTTON INICIO SECCION */

.inicio-seccion {
    font-weight: bold;
    color: var(--background-color);
    background-color:#353432;
}

.inicio-seccion:hover{
    color: var(--background-color);
    background-color: #585855;
    
}

/* LINK CREA CUENTA */

.wrapper form .signup-link a{
    text-decoration: none;
    color: #009579;
}

.wrapper form .signup-link a:hover {
    text-decoration: underline ;
     
}

.wrapper form .footer-item a{
    text-decoration: none;
    color: #1975e64e;
}

/* FOOTER */

footer {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -10px;
}

footer a{
    text-decoration: none;
    color: var(--primary-color);
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px; 
    color: #1975e64e;
    margin-left: 2px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer a:hover {
   color: var(--dark-color);
}

.linea-footer {
    width: 100%;
    border-bottom: 1px;
    border: none;
    border-top: 2px solid black;
    margin-top: 10px;
    color: rgb(227, 219, 219);
}

.nombre_pagina {
    font-weight: bold;
    margin-top: 13px;
    color: black
}